.text-page {
    text-align: justify;
    margin-top: 5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: 1.8rem;

    @media screen and (max-width: 1050px) {
        padding: 1rem;
        margin-top: 1rem;
    }

    span {
        color: #08FDD8;
    }
}